#!/usr/bin/env bash

_ARG0="${BASH_SOURCE[0]:-"$0"}"
_HERE="$(cd "$(dirname -- "$_ARG0")" && pwd)"

DIRENV_WARN_TIMEOUT="999s"
: "${WORKSPACE_ROOT:="$_HERE"}"
: "${LOG_DIR:="$WORKSPACE_ROOT/_meta/log"}"
: "${SCRIPTS_DIR:="$WORKSPACE_ROOT/_meta/scripts"}"

# shellcheck source=/dev/null
if [ -s "$WORKSPACE_ROOT/.env" ]; then
  source "$WORKSPACE_ROOT/.env"
fi

export DIRENV_WARN_TIMEOUT WORKSPACE_ROOT LOG_DIR SCRIPTS_DIR
unset _ARG0 _HERE

if command -v "devenv" >/dev/null 2>&1; then
  eval "$(devenv direnvrc)"
  use devenv --quiet
fi
